# EditorConfig file for test projects
root = true

[*.cs]
dotnet_diagnostic.CA1707.severity = none # Ignore underscores in method names
dotnet_diagnostic.CS1591.severity = none # Ignore missing XML comments
